/*
    Color Scheme.
    
    --pink = #FF455F Maybe use later

    Yellow: #FDD54F
    Ye
*/

/*Body*/
body#d2l_body,
body.d2l-body{
    background-color:#ccc;
}

header nav.d2l-navigation-s{
    background-color: #111;
    color:#FDD54F;
}

header nav div.d2l-navigation-s-header{
    border-bottom: solid 1px #FDD54F;
}

header nav div a.a.d2l-navigation-s-link, 
header nav div a.d2l-navigation-s-link:link,
header nav div a.d2l-navigation-s-link:visited
{
    color:#FDD54F;
    transition: color .25s;
}

d2l-dropdown button.d2l-navigation-s-group
{
    transition: color 0.25s;
}

d2l-dropdown button.d2l-navigation-s-group:hover,
d2l-dropdown button.d2l-navigation-s-group:focus,
d2l-dropdown button.d2l-navigation-s-group:hover d2l-icon,
d2l-dropdown button.d2l-navigation-s-group:focus d2l-icon{
    color:#D1A822;
}

header nav div a.d2l-navigation-s-link:hover
{
    color:#D1A822;
}

/*Highlight color. I.E. when you hover over icons it was blue*/
span.d2l-navigation-s-button-highlight[data-active] .d2l-navigation-s-highlight-bar{
    background-color:#FDD54F;
}

span.d2l-navigation-s-highlight-bar{
    background-color:#D1A822;
    color:#FDD54F;
    transition: color .4s;
}

d2l-icon.d2l-icon-0{
    color:#FDD54F;
}

d2l-dropdown button.d2l-navigation-s-button-highlight:focus d2l-icon, 
d2l-dropdown button.d2l-navigation-s-button-highlight:hover d2l-icon, 
d2l-dropdown button.d2l-navigation-s-button-highlight:focus, 
d2l-dropdown button.d2l-navigation-s-button-highlight:hover{
    color:#D1A822;
}

d2l-dropdown button.d2l-navigation-s-button-highlight[data-active] .d2l-navigation-s-highlight-bar{
    background-color:#B8911E;
}

button.d2l-navigation-s-button-highlight[data-active], 
button.d2l-navigation-s-button-highlight[data-active] d2l-icon svg{
    color:#B8911E;
}

