/*
    Color Scheme.
    
    --pink = #FF455F Maybe use later

    Yellow: #FDD54F
    Ye
*/

html, body{
    height:100%;
}

/*Body*/
body#d2l_body,
body.d2l-body{
    background-color:#EEE;
}

header nav.d2l-navigation-s{
    background-color: #111;
    color:#FDD54F;
}

header nav div.d2l-navigation-s-header{
    border-bottom: solid 1px #FDD54F;
}

header nav div a.a.d2l-navigation-s-link, 
header nav div a.d2l-navigation-s-link:link,
header nav div a.d2l-navigation-s-link:visited
{
    color:#FDD54F;
    transition: color .25s;
}

d2l-dropdown button.d2l-navigation-s-group
{
    transition: color 0.25s;
}

d2l-dropdown button.d2l-navigation-s-group:hover,
d2l-dropdown button.d2l-navigation-s-group:focus,
d2l-dropdown button.d2l-navigation-s-group:hover d2l-icon,
d2l-dropdown button.d2l-navigation-s-group:focus d2l-icon{
    color:#D1A822;

}

header nav div a.d2l-navigation-s-link:hover
{
    color:#D1A822;
}

/*Highlight color. I.E. when you hover over icons it was blue*/
span.d2l-navigation-s-button-highlight[data-active] .d2l-navigation-s-highlight-bar{
    background-color:#FDD54F;
}

span.d2l-navigation-s-highlight-bar{
    background-color:#D1A822;
    color:#FDD54F;
    transition: color .4s;
}

/* d2l-icon.d2l-icon-0{
    color:#FDD54F;
} */

d2l-dropdown button.d2l-navigation-s-button-highlight:focus d2l-icon, 
d2l-dropdown button.d2l-navigation-s-button-highlight:hover d2l-icon, 
d2l-dropdown button.d2l-navigation-s-button-highlight:focus, 
d2l-dropdown button.d2l-navigation-s-button-highlight:hover{
    /*color:#D1A822;*/
    color:#fff;
}

d2l-dropdown button.d2l-navigation-s-button-highlight[data-active] .d2l-navigation-s-highlight-bar{
    background-color:#B8911E;
}

button.d2l-navigation-s-button-highlight[data-active], 
button.d2l-navigation-s-button-highlight[data-active] d2l-icon svg{
    color:#B8911E;
}

.d2l-dropdown-content-top.d2l-dropdown-content{
    background-color:#FDD54F;
}

div.d2l-navigation-s-main{
    border-bottom:none;
}

.d2l-button:hover{
    color:#1C5295;
}

/*Changing the page layout from centered to taking the full page.*/
div.d2l-max-width{
    max-width: none;
}

div.d2l-course-banner-container{
    max-width: none;
    margin: 0;
}

div.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep, 
div.d2l-twopanelselector-side.d2l-twopanelselector-side-sep{
    background:none;
    background-color:#BBB;
    bottom:0;
}

.d2l-twopanelselector-wrapper{
    height: 85%;
}

.d2l-box-layout{
    height: 100%;
}

.d2l-le-TreeAccordionItem-wrapper{
    color:#222;
}

table.d2l-table:not([style-scope]):not(.style-scope)>*:not([style-scope]):not(.style-scope)>tr[header]:not([style-scope]):not(.style-scope)>th:not([style-scope]):not(.style-scope),
table.d2l-table:not([style-scope]):not(.style-scope)>thead:not([style-scope]):not(.style-scope)>tr:not([style-scope]):not(.style-scope)>th:not([style-scope]):not(.style-scope),
d2l-thead:not([style-scope]):not(.style-scope)>d2l-tr:not([style-scope]):not(.style-scope)>d2l-th:not([style-scope]):not(.style-scope),
d2l-tr[header]:not([style-scope]):not(.style-scope)>d2l-th:not([style-scope]):not(.style-scope){
    background-color: #222;
    color:#fff;
}